$black: #000000;
$darkGray: #282A36;
$midGray: #44475A;
$white: #F8F8F2;
$blueGray: #6272A4;
$cyan: #8BE9FD;
$orange: #FFB86C;
$green: #50FA7B;
$pink: #FF79C6;
$purple: #BD93F9;
$inactivePurple: rgba(189, 147, 249, 0.5);
$activePurple: #8466AD;
$red: #FF5555;
$yellow: #F1FA8C;
$borderRadius: 50px;


* {
  border: none;
  border-radius: 0;
  font-family: BigBlueTermPlus Nerd Font;
  padding: 0;
  margin: 0;
}

box.modules-right,
box.modules-left {
  font-size: 14px;
}

window#waybar {
  background: transparent;
  margin-top: 5px;
  &.hidden {
    opacity: 0.2;
  }
}

// #window {
//   margin-top: 8px;
//   padding-left: 16px;
//   padding-right: 16px;
//   border-radius: 26px;
//   transition: none;
//   color: transparent;
//   background: $green;
// }

// window#waybar {
//   &.termite,
//   &.Firefox,
//   &.Navigator,
//   &.PCSX2 {
//     #window {
//       color: $darkGray;
//       background: $midGray;
//     }
//   }
// }

#workspaces {
  margin: 0 10px;
  padding: 5px;
  border-radius: $borderRadius;
  background: $darkGray;
  transition: none;
  button {
    transition: all 0.5s ease;
    color: $white;
    background: $inactivePurple;
    font-size: 10px;
    border-radius: $borderRadius;
    padding: 0 15px;
    &.active {
      transition: all 0.5s ease;
      background-color: $purple;
      padding: 0 30px;
      color: $darkGray
    }
    &.focused {
      transition: all 0.5s ease;
      background-color: $green;
    }
    &:hover {
      transition: all 0.5s ease;
      box-shadow: inherit;
      text-shadow: inherit;
      background-color: $pink;
    }
  }
}

#mpd,
#network,
#pulseaudio,
#temperature,
#cpu,
#memory,
#battery,
#clock {
  /* margin: 8px 4px 0; */
  /* padding: 4px 16px 0; */
  border-radius: $borderRadius;
  transition: none;
  background-color: $darkGray;
  font-weight: 400;
}

#tray {
  background-color: $green;
}

#mpd {
  color: $purple;
  &.disconnected,
  &.stopped {
    color: $black;
    background: $red;
  }
}

#network {
  color: $purple;
}

#pulseaudio {
  color: $cyan;
}

#temperature {
  color: $orange;
}

#cpu {
  color: $yellow;
}

#memory {
  color: $green;
}

#battery {
  color: $pink;
}

#clock {
  color: $white;
}
